%div#game-details
  %div.player1
    %h3 Player 1
    %div.score 0
  %div.player2
    %h3 Player 2
    %div.score 0

%div#gameboard
  %ul#dice-list
    %h1.roller Player 1 Roll Em!
  %div#table
    %h4 Table:
    %div.score 0
    %button.bank Bank
    %button.roll Roll

%div#leaderboard.hidden
  %h4 Leaderboard:
  %form
    %label Enter Your Initials
    %input{:type => 'text', :maxlength => '3'}
    %h3 Your Highscore!
    %div.highscore 10,000

    %button Done
  %ol

%div#cheatsheet
  %ul
    %li Each 1	100
    %li Each 5	50
    %li Three 1s	1000
    %li Three 2s	200
    %li Three 3s	300
    %li Three 4s	400
    %li Three 5s	500
    %li Three 6s	600
    %li 10,000 points to win
