%div#game-details
  %div.player1
    %h3 Player 1
    %div.score 0
  %div.player2
    %h3 Player 2
    %div.score 0

%ul#dice
  %h1.roller Roll 'em

%div#cheatsheet
  %ul
    %li Each 1	100
    %li Each 5	50
    %li Three 1s	1000
    %li Three 2s	200
    %li Three 3s	300
    %li Three 4s	400
    %li Three 5s	500
    %li Three 6s	600
    %li 10,000 points to win
