@import 'fluidity/fluidity'

html, body
  width 100%
  height 100%
  transform rotate3d(0,0,0)
  user-select none

#notice
  grid(100%, 100%)
  position absolute
  top 0px
  left 0px
  height 100%
  margin 0 auto
  background rgba(black,40%)
  z-index 3
  transition all 100ms linear
  color white
  font-size 1.2em
  line-height 1.2em
  font-weight bold
  &:after
    position absolute
    top 50%
    left 48%
    width auto
    height auto
    padding 3em
    background white
    color darker-color1
    transform translate(-50%,-50%)
    content attr(data-message)

#game-details
  topbar()
  min-width 960px
  font-size .9em
  .player1, .player2
    grid-space(25%)
    min-width 220px
    position relative
    h3
      display inline-block
      margin-left 2em
    .score
      display inline-block
  .currentplayer
    color white
    &:before
      position absolute
      top 50%
      margin 0
      padding 0
      transform translate(0.5em,-50%)
      content '\2192'
  #showrules
    position relative
    top 0
    display inline-block
    float right
    width 50px
    height 100%
    text-align center
    cursor pointer
    &:before
      position absolute
      top 50%
      display block
      transform translate(0,-51%)
      font-size 1.8em
      font-weight bold
      content '?'

#container
  grid(100%, 960px)
  topbarfix()
  height 100%
  background url('/assets/noise.png'), linear-gradient(from top to bottom, lighter-color3, lighten(lighter-color3,96%))
  background-repeat repeat, no-repeat
  overflow visible
  z-index 1

#gameboard
  grid-space 80%
  user-select none
  text-align center
  margin 0 12% 0 8%
  padding 0
  #dice-list
    margin 0 auto
    height 200px
    list-style none outside none
    text-align center
    h1
      position absolute
      display block
      top 2em
      width 100%
      padding 0
      margin 0
      text-align center
    .roller
      cursor pointer
      text-align center
    li
      position relative
      display inline-block
      list-style none
      width 70px
      height 70px
      margin 3em 16px 0 16px
      border 1px solid black
      text-align center
      user-select none
      transition all 80ms linear
      &.scorable
        background green
        cursor pointer
      &.triple1,
      &.triple2,
      &.triple3,
      &.triple4,
      &.triple5,
      &.triple6
        background yellow
      &.yahtzee
        background red
      &.keeper
        background white
        top 90px
      &[data-value='1']
        &:before
          content '\2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '1'
      &[data-value='2']
        &:before
          content '\2022  \2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '2'
      &[data-value='3']
        &:before
          content '\2022  \2022  \2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '3'
      &[data-value='4']
        &:before
          content '\2022  \2022  \2022  \2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '4'
      &[data-value='5']
        &:before
          content '\2022  \2022  \2022  \2022  \2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '5'
      &[data-value='6']
        &:before
          content '\2022  \2022  \2022  \2022  \2022  \2022'
        &:after
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          content '6'
  #table
    grid-space 100%
    text-align center
    margin-top 2%
    height 49%
    .score
      margin 0

#cheatsheet
  position absolute
  display block
  top 1.1em
  right 16px
  width 300px
  background bg = rgba(darker-color1,90%)
  color white
  font-size .9em
  cursor pointer
  padding 1em 1em 1.2em 1em
  border-radius 3px
  z-index 4
  &:before
    position relative
    content ''
    display block
    top -29px
    left 93%
    display block
    width 0px
    height 0px
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-bottom 15px solid bg


  p
    text-align center
  ul
    margin 1em
    li
      margin 0 auto 0 2.5em

#leaderboard
  grid 100% 100%
  position absolute
  top 0
  left 0
  height 100%
  z-index 2
  background darker-color2
  color white
  transition all 100ms linear
  text-align center
  scrollable()
  form
    margin 0
    display none
    input
      width 70px
      text-align center
  #leaderlist
   width 600px
   margin 0 auto
   column-count 3
   column-gap 1em
  ol
   text-align left
   font-size .8em

.removed
  display none

.hidden
  position absolute !important
  visibility hidden
  opacity 0
  z-index -1
  transition all 100ms linear

.close
  close()
